.container1 {
   height: 100%;
   display: table;
   margin-right: auto;
   margin-left: auto;
}
.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
}
h1 {
   text-align: center;
   font-family: "Helvetica Neue", Helvetica;
}
.cookie {
  width: 50px;
}
.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
@font-face {
    font-family: monofur;
    src: url(/fonts/monofur-bold.ttf);
}
.skill1, .skill2, .skill3 {
  list-style-type: none;
  display: inline-block;
  padding: 4px;
  text-transform: lowercase;
  font-family: monofur;
  flex-grow: 1;
  border-style: solid;
  border-color: #cdcdcd;
  border-width: 1px;
}
.skill1 {
  color: black;
  background: #FAF8BD;
}
.skill2 {
  color: yellow;
  background: black;
}
.skill3 {
  color: #BCBF00;
  background: white;
}
.skill-table {
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#connect-on {
  display: block;
  text-align: right;
  height: 30px;
  position: fixed;
  padding: 4px 0 4px 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(grey, #bfbfbf);
  width: 100%;
}
#connect-on img {
  height: 100%;
  padding-right: 6px;
}
#content {
  margin: 0 5%;
}
body {
  margin-bottom: 30px;
}
