.container1 {
   height: 100%;
   display: table;
   margin-right: auto;
   margin-left: auto;
}
.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
}
h1 {
   text-align: center;
   font-family: "Helvetica Neue", Helvetica;
}
.cookie {
  width: 50px;
}
.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
@font-face {
    font-family: monofur;
    src: url(/fonts/monofur-bold.ttf);
}
@font-face {
    font-family: sans-bullshit-sans;
    src: url(/fonts/sans-bullshit-sans.ttf);
}
.code {
  font-family: monofur, courier, "courier new";
}
.skill1, .skill2, .skill3 {
  list-style-type: none;
  display: inline-block;
  padding: 4px;
  text-transform: lowercase;
  flex-grow: 1;
  border-style: solid;
  border-color: #cdcdcd;
  border-width: 1px;
}
.skill1 {
  color: black;
  background: #FAF8BD;
}
.skill2 {
  color: yellow;
  background: black;
}
.skill3 {
  color: #BCBF00;
  background: white;
}
.skill-table {
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.footer {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
#connect-on {
  text-align: right;
  height: 30px;
  padding: 4px 0 4px 0;
  background: linear-gradient(grey, #bfbfbf);
}
#connect-on img {
  height: 100%;
  padding-right: 6px;
}
#content {
  margin: 0 5%;
}
body {
  margin-bottom: 30px;
}
#avatar {
  max-width: 250px;
}
.mega-size {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.hiking {
  color: white;
  font-family: "Helvetica Neue";
  text-shadow: -2px 2px 1px #0E4EAC, 2px 2px 1px #0E4EAC, 2px -2px 1px #0E4EAC, -2px -2px 1px #0E4EAC;
}
